<!-- <h1> This is the sectet Page!</h1>

<p>You found me!</p>
 -->

<!-- 
<li><a href="/register">Sign Up</a></li>
<li><a href="/logout">Logout!</a></li>
<li><a href="/login">Login!</a></li> -->
<!-- <li><a href="/logout">Logout!</a></li> -->
<!-- 
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <script type="text/javascript" src="/public/js/index.js">
        createEditableSelect(document.forms[0].myText);

    </script>
<link href= "/public/assets/index.css" rel="stylesheet" type="text/css" />
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <li><a href="/logout">Logout!</a></li><br>
    <br>
    <div id="container">
        <fieldset >

            <button class="fontStyle bold" onclick="document.execCommand('bold', false, null);" title="Bold"></button>
          
            <button class="fontStyle italic" onclick="document.execCommand('italic', false, null);" title="Italics"></button>
            <button class="fontStyle underline" onclick="document.execCommand('underline', false, null);"></button>
            <select id="input-font" class="input" onchange="changeFont (this);">
                <option value="Arial" font="changeFont(Arial)">Arial</option>
                <option value="Helvetica">Helvetica</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Sans serif">Sans serif</option>
                <option value="Courier New">Courier New</option>
                <option value="Verdana">Verdana</option>
                <option value="Georgia">Georgia</option>
                <option value="Palatino">Palatino</option>
                <option value="Garamond">Garamond</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Arial Black">Arial Black</option>
                <option value="Tahoma">Tahoma</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
            </select>
            <button class="fontStyle strikethrough" onclick="document.execCommand('strikethrough', false, null);">
                <strikethrough></strikethrough>
            </button>
            <button class="fontStyle align-left" onclick="document.execCommand('justifyLeft', false, null);">
                <justifyLeft></justifyLeft>
            </button>
            <button class="fontStyle align-center" onclick="document.execCommand('justifyCenter', false, null);">
                <justifyCenter></justifyCenter>
            </button>
            <button class="fontStyle align-right" onclick="document.execCommand('justifyRight', false, null);">
                <justifyRight></justifyRight>
            </button>
            <button class="fontStyle undo-apply" onclick="document.execCommand('undo', false, null);">
                <undo></undo>
            </button>
            <button class="fontStyle redo-apply" onclick="document.execCommand('redo', false, null);">
                <redo></redo>
            </button>
            <button class="fontStyle copy-view" onclick="viewer()">
            </button>
            <button class="fontStyle orderedlist" onclick="document.execCommand('insertOrderedList', false, null);">
                <insertOrderedList></insertOrderedList>
            </button>
            <button class="fontStyle unorderedlist" onclick="document.execCommand('insertUnorderedList',false, null)">
                <insertUnorderedList></insertUnorderedList>
            </button>

            <input class="color-apply" type="color" onchange="chooseColor()" id="myColor" />

           
            <select id="fontSize" onchange="changeSize()">
                <option value="9">8</option>
                <option value="2">10</option>
                <option value="3">14</option>
                <option value="4">18</option>
                <option value="5">24</option>
                <option value="6">36</option>
                <option value="7">48</option>
                <option value="8">72</option>
            </select>

      
        </fieldset>
        <form action="/save" method="POST">
        <div id="editor1" contenteditable="true" name="imp"></div> 
        <br>
        <br>
        <input type="text" name="fname" id="h" style="visibility:hidden">
        
        <button onclick="f();" type="submit" style="margin-left: 400px;height: 50px;width:50px;" >save</button>
        </form>
    </div>
    <script src="/public/js/index.js"></script>
  
  
</body>

</html>
  -->

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>Word Editor <%= doc_text.document_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../public/assets/projectLogo.ico" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../public/assets/stylesheet_word.css"
    />
    <link
      href="
            https://fonts.googleapis.com/icon?family=Roboto|Patua+One|Source+Sans+Pro|Zilla+Slab|Material+Icons|Material+Icons+Round|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <script type="text/javascript" src="../public/js/script_word.js">
      createEditableSelect(document.forms[0].myText);
    </script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="header">
      <div class="logo-icon">
        <img
          src="../public/assets/icons_word/logo.png"
          width="38px"
          draggable="false"
        />
      </div>
      <div class="logo-text" style="width: auto">
        <%= doc_text.document_name %>
      </div>

      <div id="utility" style="float: right;">
        <div class="download-doc" style="margin: 0;">
          <div class="icon">
            <img
              src="../public/assets/icons_word/logout.png"
              color="white"
              width="24px"
              draggable="false"
            />
          </div>
          <div class="text">
            <a
              href="/logout"
              style="color: #1565c0; font-family: 'Patua One', cursive; text-decoration: none;"
              >Logout!</a
            >
          </div>
        </div>

        <div class="print-doc">
          <div class="icon">
            <img
              src="../public/assets/icons_word/print.svg"
              color="white"
              width="28px"
              draggable="true"
            />
          </div>

          <div class="text" onclick="viewMenu()">Print</div>
        </div>
        <div class="hide-menu" onclick="changeName(this)">Hide Menu</div>
      </div>
    </div>

    <div id="menu">
      <!-- <span
        style="width: 0px; height: 27px; border: 1px solid #dddddd; margin: 7px 10px 0 10px; border-radius: 1px;"
      ></span> -->
      <span
      style="width: 0px; height: 27px; border: 1px solid white; margin: 7px 5px 0 5px; border-radius: 1px;"
    ></span>
      <div class="new">
        <div class="icon"onmouseover="viewPopup('new-popup')"
        onmouseout="hidePopup('new-popup')">
        <span class="popuptext" id="new-popup">New</span>
          <img
            src="../public/assets/icons_word/new.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">New</div> -->
      </div>

      <form method="POST">
        <div class="save">
          <button
            class="icon"
            onclick="f();"
            type="submit"
            style="background-color: white;border:0px;"
            onmouseover="viewPopup('save-popup')"
            onmouseout="hidePopup('save-popup')"
          >
            <span class="popuptext" id="save-popup">Save</span>
            <img
              src="../public/assets/icons_word/save.svg"
              width="35px"
              draggable="false"
            />
          </button>
        </div>

        <input
          type="text"
          name="fname"
          id="h"
          style="visibility:hidden;height: 0px;width:0px;"
        />

        <input
          type="text"
          id="orignal_name"
          style="visibility:hidden;height: 0px;width:0px;"
          value="<%= doc_text.document_name %>"
        />

        <input
          type="text"
          name="save_fname"
          id="saver"
          style="visibility:hidden;height: 0px;width:0px;"
        />
      </form>

      <div class="open">
        <button
          onclick="window.location.replace('/drive')"
          style="background-color: white; border:0px;"
        >
          <div class="icon" 
          onmouseover="viewPopup('open-popup')"
          onmouseout="hidePopup('open-popup')">
          <span class="popuptext" id="open-popup">Open</span>
            <img
              src="../public/assets/icons_word/open.svg"
              width="35px"
              style="justify-content: center;"
              draggable="false"
            />
          </div>
        </button>
        <!-- <div class="text">Open</div> -->
      </div>

      <span
        style="width: 0px; height: 27px; border: 1px solid #dddddd; margin: 7px 10px 0 10px; border-radius: 1px;"
      ></span>

      <!-- <div class="cut">
        <div class="icon">
          <img src="../public/assets/icons_word/cut_alt.png" width="35px" />
        </div>
        <div class="text">Cut</div>
      </div>

      <div class="copy">
        <div class="icon">
          <img src="../public/assets/icons_word/copy_alt.png" width="35px" />
        </div>
        <div class="text">Copy</div>
      </div>

      <div class="paste">
        <div class="icon">
          <img src="../public/assets/icons_word/paste.png" width="35px" />
        </div>
        <div class="text">Paste</div>
      </div> -->

      <div class="undo">
        <div class="icon" onclick="document.execCommand('undo', false, null);"
          onmouseover="viewPopup('undo-popup')"
          onmouseout="hidePopup('undo-popup')"
        >
          <span class="popuptext" id="undo-popup">Undo</span>
          <img
            src="../public/assets/icons_word/undo.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Undo</div> -->
      </div>

      <div class="redo">
        <div
          class="icon"
          onclick="document.execCommand('redo', false, null);"
          onmouseover="viewPopup('redo-popup')"
          onmouseout="hidePopup('redo-popup')"
        >
          <span class="popuptext" id="redo-popup">Redo</span>
          <img
            src="../public/assets/icons_word/redo.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Redo</div> -->
      </div>

      <span
        style="width: 0px; height: 27px; border: 1px solid #dddddd; margin: 7px 10px 0 10px; border-radius: 1px;"
      ></span>

      <div class="text-format">
        <div class="icon" onclick="viewPanel('format-text-panel')" onmouseover="viewPopup('format-text-popup')"
        onmouseout="hidePopup('format-text-popup')"
        >
          <span class="popuptext" id="format-text-popup">Fornat Text</span>
          <img
            src="../public/assets/icons_word/text-format.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Format Text</div> -->
      </div>

      <div class="image">
        <div class="icon" onclick="viewPanel('format-text-panel-2')" onmouseover="viewPopup('format-image-popup')"
        onmouseout="hidePopup('format-image-popup')"
        >
          <span class="popuptext" id="format-image-popup">Format Image</span>
          <img
            src="../public/assets/icons_word/image.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Image</div> -->
      </div>
      <!--https://www.w3schools.com/howto/howto_css_image_effects.asp-->

      <div class="table">
        <div class="icon" onmouseover="viewPopup('table-popup')"
        onmouseout="hidePopup('table-popup')"
        >
          <span class="popuptext" id="table-popup">Format Table</span>
          <img
            src="../public/assets/icons_word/table.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Table</div> -->
      </div>

      <span
        style="width: 0px; height: 27px; border: 1px solid #dddddd; margin: 7px 10px 0 10px; border-radius: 1px;"
      ></span>

      <div class="link">
        <div class="icon" onmouseover="viewPopup('link-popup')"
        onmouseout="hidePopup('link-popup')"
        >
          <span class="popuptext" id="link-popup">Hyperlink</span>
          <img
            src="../public/assets/icons_word/link.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Link</div> -->
      </div>

      <div class="bookmark">
        <div class="icon" onmouseover="viewPopup('bookmark-popup')"
        onmouseout="hidePopup('bookmark-popup')"
        >
          <span class="popuptext" id="bookmark-popup">Bookmark</span>
          <img
            src="../public/assets/icons_word/bookmark.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Bookmark</div> -->
      </div>

      <span
        style="width: 0px; height: 27px; border: 1px solid #dddddd; margin: 7px 10px 0 10px; border-radius: 1px;"
      ></span>

      <div class="page-header-footer">
        <div class="icon" onmouseover="viewPopup('page-header-footer-popup')"
        onmouseout="hidePopup('page-header-footer-popup')"
        >
          <span class="popuptext" id="page-header-footer-popup">Header Footer</span>
          <img
            src="../public/assets/icons_word/image.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Header Footer</div> -->
      </div>

      <div class="page-setup">
        <div class="icon" onmouseover="viewPopup('page-setup-popup')"
          onmouseout="hidePopup('page-setup-popup')"
        >
          <span class="popuptext" id="page-setup-popup">Page Setup</span>
          <img
            src="../public/assets/icons_word/page_setup.png"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Page Setup</div> -->
      </div>

      <div class="page-number">
        <div class="icon" onmouseover="viewPopup('page-number-popup')"
          onmouseout="hidePopup('page-number-popup')"
        >
          <span class="popuptext" id="page-number-popup">Page #</span>
          <img
            src="../public/assets/icons_word/page_number.png"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Page Number</div> -->
      </div>

      <div class="break">
        <div class="icon" onmouseover="viewPopup('page-break-popup')"
          onmouseout="hidePopup('page-break-popup')"
        >
          <span class="popuptext" id="page-break-popup">Page Break</span>
          <img
            src="../public/assets/icons_word/image.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Add Page</div> -->
      </div>

      <span
        style="width: 0px; height: 27px; border: 1px solid #dddddd; margin: 7px 10px 0 10px; border-radius: 1px;"
      ></span>

      <div class="find">
        <div class="icon" 
          onclick="findInText()"
          onmouseover="viewPopup('find-popup')"
          onmouseout="hidePopup('find-popup')"
        >
          <span class="popuptext" id="find-popup">Find</span>
          <img
            src="../public/assets/icons_word/find.svg"
            width="35px"
            draggable="false"
          />
        </div>
        <!-- <div class="text">Find</div> -->
      </div>

      <div class="access">
        <div class="icon" onclick="viewSelectionPane()" onmouseover="viewPopup('access-popup')"
        onmouseout="hidePopup('access-popup')"
      >
        <span class="popuptext" id="access-popup">Sharing</span>
          <img
            src="../public/assets/icons_word/access.png"
            width="35px"
            draggable="false"
          />
        </div>

        <!-- <div class="text">Access</div> -->
      </div>
      
      <span
      style="width: 0px; height: 27px; border: 1px solid white; margin: 7px 5px 0 5px; border-radius: 1px;"
    ></span>
      <!-- <span
        style="width: 0px; height: 27px; border: 1px solid #dddddd; margin: 7px 10px 0 10px; border-radius: 1px;"
      ></span> -->
    </div>

    <div id="panel">
      <div id="format-text-panel" style="z-index: 1;">
        <fieldset>
          <div class="panel-headings">Image Formatting</div>
          <div class="panel-headings">Text</div>
          <span class="br"></span>

          <select id="input-font" class="input" onchange="changeFont(this);">
            <option value="Arial">Arial</option>
            <option value="Helvetica" selected>Helvetica</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Sans serif">Sans serif</option>
            <option value="Courier New">Courier New</option>
            <option value="Verdana">Verdana</option>
            <option value="Georgia">Georgia</option>
            <option value="Palatino">Palatino</option>
            <option value="Garamond">Garamond</option>
            <option value="Comic Sans MS">Comic Sans MS</option>
            <option value="Arial Black">Arial Black</option>
            <option value="Tahoma">Tahoma</option>
            <option value="Comic Sans MS">Comic Sans MS</option>
          </select>

          font size start
          <select id="fontSize" onchange="changeSize()">
            <option value="9">8</option>
            <option value="2">10</option>
            <option value="3">14</option>
            <option value="4">18</option>
            <option value="5">24</option>
            <option value="6">36</option>
            <option value="7">48</option>
            <option value="8">72</option>
          </select>
          font size end
          <span class="brmedium"></span>

          <button
            class="fontStyle bold"
            onclick="document.execCommand('bold', false, null);"
            title="Bold"
          ></button>

          <button
            class="fontStyle italic"
            onclick="document.execCommand('italic', false, null);"
            title="Italics"
          ></button>

          <button
            class="fontStyle underline"
            onclick="document.execCommand('underline', false, null);"
          ></button>

          <button
            class="fontStyle strikethrough"
            onclick="document.execCommand('strikethrough', false, null);"
          >
            <strikethrough></strikethrough>
          </button>

          <button
            class="fontStyle align-left"
            onclick="document.execCommand('increaseFontSize', false, null);"
          >
            <increaseFontSize></increaseFontSize>
          </button>

          <button
            class="fontStyle align-left"
            onclick="document.execCommand('decreaseFontSize', false, null);"
          >
            <decreaseFontSize></decreaseFontSize>
          </button>

          <span class="brlarge"></span>

          <div class="panel-headings">Paragraph</div>

          <button
            class="fontStyle align-left"
            onclick="document.execCommand('justifyLeft', false, null);"
          >
            <justifyLeft></justifyLeft>
          </button>

          <button
            class="fontStyle align-center"
            onclick="document.execCommand('justifyCenter', false, null);"
          >
            <justifyCenter></justifyCenter>
          </button>

          <button
            class="fontStyle align-right"
            onclick="document.execCommand('justifyRight', false, null);"
          >
            <justifyRight></justifyRight>
          </button>

          <button
            class="fontStyle align-justify"
            onclick="document.execCommand('justifyFull', false, null);"
          >
            <justifyFull></justifyFull>
          </button>

          <button
            class="fontStyle undo-apply"
            onclick="document.execCommand('undo', false, null);"
          >
            <undo></undo>
          </button>

          <button
            class="fontStyle redo-apply"
            onclick="document.execCommand('redo', false, null);"
          >
            <redo></redo>
          </button>

          <button class="fontStyle copy-view" onclick="viewer()"></button>

          <span class="br"></span>

          <button
            class="fontStyle orderedlist"
            onclick="document.execCommand('insertOrderedList', false, null);"
          >
            <insertOrderedList></insertOrderedList>
          </button>

          <button
            class="fontStyle unorderedlist"
            onclick="document.execCommand('insertUnorderedList',false, null)"
          >
            <insertUnorderedList></insertUnorderedList>
          </button>

          <input
            class="color-apply"
            type="color"
            onchange="chooseColor()"
            id="myColor"
          />
        </fieldset>
      </div>

      <div id="format-image-panel" style="z-index: 2;">
        <fieldset>
          <div class="panel-headings">Text Formatting</div>
          <div class="panel-headings">Text</div>
          <span class="br"></span>

          <select id="input-font" class="input" onchange="changeFont(this);">
            <option value="Arial">Arial</option>
            <option value="Helvetica" selected>Helvetica</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Sans serif">Sans serif</option>
            <option value="Courier New">Courier New</option>
            <option value="Verdana">Verdana</option>
            <option value="Georgia">Georgia</option>
            <option value="Palatino">Palatino</option>
            <option value="Garamond">Garamond</option>
            <option value="Comic Sans MS">Comic Sans MS</option>
            <option value="Arial Black">Arial Black</option>
            <option value="Tahoma">Tahoma</option>
            <option value="Comic Sans MS">Comic Sans MS</option>
          </select>

          <!-- font size start -->
          <select id="fontSize" onchange="changeSize()">
            <option value="9">8</option>
            <option value="2">10</option>
            <option value="3">14</option>
            <option value="4">18</option>
            <option value="5">24</option>
            <option value="6">36</option>
            <option value="7">48</option>
            <option value="8">72</option>
          </select>
          <!-- font size end -->
          <span class="brmedium"></span>

          <button
            class="fontStyle bold"
            onclick="document.execCommand('bold', false, null);"
            title="Bold"
          ></button>

          <button
            class="fontStyle italic"
            onclick="document.execCommand('italic', false, null);"
            title="Italics"
          ></button>

          <button
            class="fontStyle underline"
            onclick="document.execCommand('underline', false, null);"
          ></button>

          <button
            class="fontStyle strikethrough"
            onclick="document.execCommand('strikethrough', false, null);"
          >
            <strikethrough></strikethrough>
          </button>

          <button
            class="fontStyle align-left"
            onclick="document.execCommand('increaseFontSize', false, null);"
          >
            <increaseFontSize></increaseFontSize>
          </button>

          <button
            class="fontStyle align-left"
            onclick="document.execCommand('decreaseFontSize', false, null);"
          >
            <decreaseFontSize></decreaseFontSize>
          </button>

          <span class="brlarge"></span>

          <div class="panel-headings">Paragraph</div>

          <button
            class="fontStyle align-left"
            onclick="document.execCommand('justifyLeft', false, null);"
          >
            <justifyLeft></justifyLeft>
          </button>

          <button
            class="fontStyle align-center"
            onclick="document.execCommand('justifyCenter', false, null);"
          >
            <justifyCenter></justifyCenter>
          </button>

          <button
            class="fontStyle align-right"
            onclick="document.execCommand('justifyRight', false, null);"
          >
            <justifyRight></justifyRight>
          </button>

          <button
            class="fontStyle align-justify"
            onclick="document.execCommand('justifyFull', false, null);"
          >
            <justifyFull></justifyFull>
          </button>

          <button
            class="fontStyle undo-apply"
            onclick="document.execCommand('undo', false, null);"
          >
            <undo></undo>
          </button>

          <button
            class="fontStyle redo-apply"
            onclick="document.execCommand('redo', false, null);"
          >
            <redo></redo>
          </button>

          <button class="fontStyle copy-view" onclick="viewer()"></button>

          <span class="br"></span>

          <button
            class="fontStyle orderedlist"
            onclick="document.execCommand('insertOrderedList', false, null);"
          >
            <insertOrderedList></insertOrderedList>
          </button>

          <button
            class="fontStyle unorderedlist"
            onclick="document.execCommand('insertUnorderedList',false, null)"
          >
            <insertUnorderedList></insertUnorderedList>
          </button>

          <input
            class="color-apply"
            type="color"
            onchange="chooseColor()"
            id="myColor"
          />
        </fieldset>
      </div>

      <div id="format-text-panel-2">
        <div>
          Siddhant, add you functionalities of the image formatting here
          <div id="IMG"></div>
          <div>
            <button style="z-index:5;" onclick="createImage()">
              Add Image.
              <!-- <img src="copy.png"/> -->
            </button>
          </div>
          <!-- <div id="Y"></div> -->
          <div>
            <button style="z-index:5;" onclick="changeSize()">
              Resize
            </button>
          </div>
          <div>
            <button style="z-index:5;" onclick="changeBorder()">
              changeBorder
            </button>
          </div>
          <div>
            <button style="z-index:5;" onclick="changeBorderColor()">
              changeBorderColor
            </button>
            <input type="color" id="get" />
          </div>
          <div>
            <button style="z-index:5;" onclick="rotateLeft()">
              rotateLeft
            </button>
          </div>
          <div>
            <button style="z-index:5;" onclick="rotateRight()">
              rotateRight
          </div>
          <div>
            <button style="z-index:5;" onclick="zoomIn()">
              zoomIn
            </button>
          </div>
          <div>
            <button style="z-index:5;" onclick="zoomOut()">
              zoomOut
            </button>
          </div>
        </div>
      </div>

      <div id="copy-panel" style="visibility: hidden;">
        <div class="panel-headings">Paste</div>
        <div class="panel-headings">Copied Text</div>
        <p id="copied-text">Pasted Here</p>
      </div>
    </div>

    <div id="content">
      <div id="resize-table" onclick="resizeTable()"></div>

      <div
        id="editor1"
        contenteditable="true"
        name="imp"
        style="outline: 0 solid transparent;"
      >
        <%- doc_text.name %>
      </div>
    </div>

    <div id="share-selection-pane">
    
      <div id="close-button"
        style="position: absolute; right: 10px; top: 10px; z-index: 12; cursor: pointer;"
        onclick="hideSelectionPane()"
      >
        &#x274C
      </div>
      <form onload="storeRadioOutput('r')">
        <!-- <label for="officialName"><b>Name:</b></label>
        <input
          type="text"
          placeholder="Enter Name"
          id="officialName"
          style="margin-left:60px;"
          required
        />
        <span class="br"></span> -->
        <label for="email"><b>Email:</b></label>
        <input
          type="email"
          placeholder="Enter Email"
          id="email"
          style="margin-left:60px;"
          required
        />
        <span class="br"></span>
        <!-- <label for="officeDept"><b>Office/Dept:</b></label>
          <input
          type="text"
          placeholder="Enter Office/Dept"
          id="officeDept"
          style="margin-left:15px;"
          required
          />
        <span class="br"></span> -->
        <!-- <label for="group"><b>Doc Name:</b></label>
        <input
          type="text"
          placeholder="Enter Name of Document"
          id="group"
          style="margin-left:25px;"
          required
        /> -->

        <span class="brmedium"></span>
        <label for="group"><b>Access Rights:</b></label>
        <input type="radio" id="readable"
        name="access-permission" value="r" checked="checked" onclick="storeRadioOutput(this.value)">
        <label for="contactChoice1">Read</label>

        <input type="radio" id="writable"
        name="access-permission" value="w" onclick="storeRadioOutput(this.value)">
        <label for="contactChoice2">Write</label>

        <input type="radio" id="shareable"
        name="access-permission" value="su" onclick="storeRadioOutput(this.value)">
        <label for="contactChoice3">Super User</label>
      </form>
        
      <button id="add-member" onclick="addMember()">Add</button>
      <button id="view-existing-groups" onclick="viewGroups()">View Groups</button>
      <span class="br"></span>
      Note: As of now, we haven't integrated the functionality of the groups.
      User needs to write the name of the sharee and can be done using
      <table id="share-table-new">
        <thead>
           <tr>
            <td style="width: auto; padding-left: 10px;">Email</td>
            <td style="width: 30px; text-align: center;">O</td>
            <td style="width: 30px; text-align: center;">R</td>
            <td style="width: 30px; text-align: center;">W</td>
            <td style="width: 30px; text-align: center;">SU</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Siddhartha</td>
            <td style="text-align: center;">&#x2705</tdtext-align: center;>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
          </tr>
         <!-- <tr>
            <td>Simarpreet Singh</td>
            <td>DTU</td>
            <td>Backend</td>
            <td>samsingh7039@gmail.com</td>
          </tr>
          <tr>
            <td>Siddhant Jain</td>
            <td>DTU</td>
            <td>Word Frontend</td>
            <td>asn.siddhant@gmail.com</td>
          </tr>
          <tr>
            <td>Yogesh Narang</td>
            <td>DTU</td>
            <td>Sheets Frontend</td>
            <td>NA</td>
          </tr> -->
        </tbody> 
        <!-- <tfoot>
          <tr>
            <td id="memberCounter">Total</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot> -->
      </table>
    </div>

    <div id="footer">
      <p>
        <span style="position: absolute; left: 5px;">
          &copy; 2019. ShareDocs Word Editor,</span
        >
        <span style="position: absolute; right: 15px;">
          Works best with Google Chrome
        </span>
      </p>
    </div>

    <% if (x==1){ %>
    <script type="text/javascript">
      alert("<%= doc_text.document_name %> name already exist try another!");
    </script>
    <% } %>
  </body>
</html>
